@font-face {
    font-family: samsung-one-400;
    src: url(../fonts/samsung-one-400.eot?#iefix) format('embedded-opentype'), url(../fonts/samsung-one-400.otf) format('opentype'), url(../fonts/samsung-one-400.woff) format('woff'), url(../fonts/samsung-one-400.ttf) format('truetype'), url(../fonts/samsung-one-400.svg#samsung-one-400.eot) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: samsung-one-700;
    src: url(../fonts/samsung-one-700.eot?#iefix) format("embedded-opentype"), url(../fonts/samsung-one-700.otf) format("opentype"), url(../fonts/samsung-one-700.woff) format("woff"), url(../fonts/samsung-one-700.ttf) format("truetype"), url(../fonts/samsung-one-700.svg#samsung-one-700) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Regular.otf) format("opentype"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Regular.svg#samsung-one-700) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserat-Regular;
    src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Regular.otf) format("opentype"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("truetype"), url(../fonts/Montserrat-Regular.svg#samsung-one-700) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: Roboto-Regular;
    font-size: 15px;
    background: #fff;
    color: #fff;
    line-height: 1.42857143;
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-prev {
    display: none;
}

.header {
    padding: 10px 0px;
    /* border-bottom: 6px solid #cd161b; */
    background: #121111;
    /* float: left; */
    width: 100%;
    box-shadow: inset 0px 0px 0px 0px #fff, 0px 1px 0 0 #38301d;
}

.header ul {
    padding: 0;
    margin: 0;
    position: relative;
}

.header>ul {
    margin: 0 90px;
    margin: 0
}

.header ul li {
    padding-right: 49px;
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    vertical-align: top;
    line-height: 90px;
    float: left;
    margin: 0;
    position: relative;
}

.header ul li.first a {
    padding-left: 0;
}

.header ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    /* padding: 0 22px; */
    display: block;
}

.header ul li a:hover,
.header ul li.act a {
    color: #ff9500
}

.header li ul {
    background: #002020;
    position: absolute;
    top: 35px;
    left: 0;
    white-space: nowrap;
    padding: 0;
    line-height: 25px;
    display: none;
    min-width: 200px;
    z-index: 999;
}

.header li:hover ul {
    display: block
}

.header li ul li {
    display: block;
    float: none;
    margin: 0px 12px;
    line-height: normal
}

.header li ul li a {
    text-transform: none;
    font-weight: normal;
    padding: 10px 0px;
    width: 100%;
    overflow: hidden;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all .2s ease-in-out;
}

.header li ul li a:hover {
    border-bottom: 1px solid #fff;
}

.header ul li:last-child {
    padding-right: 0;
}

.header ul li.search {
    display: none;
}

.menu-sub {
    border-radius: 8px;
}

.menuTop ul .menu-sub li {
    padding: 10px 18px;
}

.footer-top {
    background: #121111;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.footer-top h6 {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}

.footer-top span {
    color: #fecd43;
}

.footer-top p {
    font-size: 12px;
    font-family: Roboto;
}

.footer-top {
    border-top: 1px solid #38301d;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
}

.footer-mid {
    border-top: 1px solid #38301d;
    background: #121111;
}

.footer-mid .gach {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-mid ul li a {
    line-height: 200%;
    font-size: 14px;
    color: white !important;
    font-family: Roboto;
}

.footer-mid ul li:hover a {
    color: #fac841 !important;
}

.footer-mid ul li {
    list-style: none;
}

.footer-mid ul li:hover a {
    color: #fecd43;
}

.footer-mid li:before {
    content: "\f138";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    text-transform: uppercase;
}

.footer-bot {
    background-color: #121111;
    border-top: 1px solid #2d2a2a;
    color: white;
    padding: 10px 0 15px;
    font-size: .9em;
}

.footer-bot a {
    color: white;
}

.service {
    background-image: url('http://localhost:8080/midas.com.vn/public/assets/frontend/img/bg.png');
    color: white;
}

.service b {
    opacity: 0.3;
    height: 1px;
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #f8cb41;
}

.service h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.service span {
    margin: 0 15px;
}

.service h3.chunho {
    font-size: 19px;
}

.service img:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.commitment b {
    opacity: 0.3;
    height: 1px;
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #f8cb41;
}

.commitment h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.commitment {
    background: #121111;
    color: white;
}

.commitment a {
    color: white !important;
}

.commitment .box-img {
    max-width: 25%;
    display: inline-block;
    width: 25%;
    background-color: #fecd43 !important;
    border-radius: 50%;
    float: left;
}

.commitment .box-img-1 {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.commitment img {
    padding: 20%;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}

.commitment .box-text {
    max-width: 75%;
    display: inline-block;
    width: 75%;
    padding-left: 26px;
}

.commitment h5 {
    color: #fecd43;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 17px;
}

.commitment button {
    background: transparent;
    border: 3px solid gray;
    padding: 2px 11px;
    font-size: 12px;
    color: #929292;
}

.commitment .col-md-6 {
    margin-bottom: 31px;
}

.commitment button:hover {
    background: #fecd43;
    color: black;
    border: 3px solid #fecd43;
    transition: 0.5s;
}

.commitment p:hover {
    color: #fecd43;
    transition: 0.2s;
}

.highlights {
    background-image: url('http://localhost:8080/midas.com.vn/public/assets/frontend/img/bg.png');
}

.highlights b {
    opacity: 0.3;
    height: 1px;
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #f8cb41;
}

.highlights h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.highlights .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}

.highlights .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.highlights .owl-theme .owl-dots .owl-dot.active span,
.highlights .owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}

.highlights .owl-carousel .item {
    text-align: center;
}

.highlights .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.highlights .owl-carousel .owl-prev.disabled,
.highlights .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.highlights .owl-carousel .prev-slide {
    background: url('http://localhost:8080/midas.com.vn/public/assets/frontend/img/nav-icon.png') no-repeat scroll 0 0;
    left: 13px;
}

.highlights .owl-carousel .next-slide {
    background: url('http://localhost:8080/midas.com.vn/public/assets/frontend/img/nav-icon.png') no-repeat scroll -24px 0px;
    right: 12px;
}

.highlights .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.highlights .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

.highlights span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

.highlights span.img-text:hover {
    color: #2caae1;
}

.collection b {
    opacity: 0.3;
    height: 1px;
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #f8cb41;
}

.collection h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.collection .right img {
    height: 142px;
}

.collection {
    background: #121111;
}

.testimonials {
    background-color: #fecd43;
    padding-bottom: 31px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.testimonials .anh {
    min-width: 30px;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.testimonials img {
    width: 100%;
    border-radius: 100%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.testimonials .anh {
    min-width: 30px;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.testimonials i.fa.fa-quote-right {
    font-size: 27px;
    display: block;
    margin: 0 auto 20px auto;
    margin-bottom: 0px;
    color: rgb(0, 175, 209);
}

.testimonials p.quote-content {
    color: #333;
    font-size: 14px;
    line-height: 130%;
}

.testimonials p.name {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    font: 13px/15px 'PTSansBold', arial, helvetica, sans-serif;
    font-style: normal !important;
    color: #333 !important;
    font-weight: bold;
}

.testimonials a.showmore {
    background-color: #de5c21;
    margin-bottom: 17px;
    border-radius: 5px;
    padding: 10px 17px;
    color: white;
    /* box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.1), inset 0 2em 15px 0 rgba(255,255,255,0.2); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.testimonials a.showmore span {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.testimonials .row {
    margin-bottom: 20px;
}

.introduce {
    background-image: url('http://localhost:8080/midas.com.vn/public/assets/frontend/img/bg.png');
    padding-top: 50px;
    padding-bottom: 50px;
}

.introduce img {
    width: 92%;
}

.introduce h5 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
}

.introduce button {
    border-radius: 20px;
    background-color: #504b4b;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 13px;
    /* padding: 10px; */
}

.introduce button:hover {
    background-color: #fecd43;
    transition: 0.5s;
}

.contact {
    padding: 30px 0px;
    background: #121111;
}

.contact .form {
    padding: 20px 20px;
    background: #fac841;
}

.contact .input {
    margin-bottom: 25px;
}

.contact .input.mail {
    position: relative;
}

.contact input[type="text"] {
    height: 38px;
    width: 100%;
    border: none;
    padding: 5px 20px;
}

.contact button {
    background: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
}

.contact form {
    text-align: center;
}

.contact .button.cc_cursor {
    text-align: center;
}

.contact span.sdt {
    color: #fac841;
}

.contact i.fa.fa-envelope {
    position: absolute;
    top: 11px;
    right: 13px;
    color: black;
    font-size: 15px;
}

.contact button:hover {
    background: red;
}
/*---------------- left page -----------------*/
#left-page h2, .info-service h2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.info-service h2::before{
    content: "\f0c9";
    font-family: FontAwesome;
    color: #fff;
    font-size: 20px;
    margin-right: 11px;
}
.list-service{
    background: #FECD43;
    padding: 0px 15px;
    margin-bottom: 40px;
}
.list-service li{
    background: url("../img/triangle.png") no-repeat;
    background-size: 17px;
    background-position-y: 50%;
    padding-left: 27px;
    line-height: 45px;
    border-bottom: 1px solid #333;
}
.list-service li:last-child{
    border-bottom: none;
}
.list-service li a{
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 16px;
}
.list-service a:hover{
    color: #fff;
}
/*--------- service ---------*/

.keyword{
    margin-bottom: 35px;
}
.list-key li{
    display: inline-block;
    line-height: 33px;
}

.list-key a{
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    padding: 0 9px;
}
.list-key a:hover{
    background: #fecd43;
    color: #000;
    border-radius: 5px;
}
/*--------- keyword ------------*/

.iForm{
    padding: 20px;
    background: #fecd43;
}
.iForm input, .iForm textarea{
    border-radius: 0;
}
.icon-mail{
    color: #000;
    float: right;
    position: relative;
    bottom: 27px;
    padding-right: 15px;
}
.btn-click{
    text-align: center;
}
.btnBox{
    background: #333;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}
.btnBox:hover{
    background: red;
}
/*---------------- Page Service ---------------*/
#service-page{
    padding-top: 80px;
    background: #121111;
}
.dich-vu h4{
    line-height: 17px;
    font-size: 20px;
    color: #fecd43;
    margin-bottom: 24px;
    font-weight: bold;
}
.dich-vu p{
    color: #cac9c9;
    line-height: 25px;
    font-size: 16px;
}
.dich-vu span img{
    width: 30%;
}
.click-link{
    margin-bottom: 60px;
    margin-top: 25px;
}
.click-link li{
    background: url("../img/triangle-white.png") no-repeat;
    background-size: 17px;
    padding-left: 25px;
    background-position-y: 50%;
    line-height: 23px;
}
.click-link a{
    display: block;
    color: #fff;
    font-size: 16px;
}
.click-link a:hover{
    color: #fecd43;
}
.service-hot h3{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
.service-hot b{
    display: block;
    background: currentColor;
    opacity: 0.3;
    height: 1px;
    flex: 1;
}
.service-hot span{
    margin: 0 22px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 14px;
>>>>>>> huy
}